{% extends "base.html" %}
{% block title %}
  Welcome to CO-Ordinator Campaign
{% endblock title %}
{% block content %}
<section class="campaign">
    <div class="card">
       <h1 class="welcome">Welcome!</h1>
        <br><ol class="orderlist">
            <h4 class="read">Read the instructions before you fill out the form:</h4>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos praesentium iure at reiciendis temporibus? Suscipit architecto eveniet natus aliquid dolores.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos praesentium iure at reiciendis temporibus? Suscipit architecto eveniet natus aliquid dolores.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos praesentium iure at reiciendis temporibus? Suscipit architecto eveniet natus aliquid dolores.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos praesentium iure at reiciendis temporibus? Suscipit architecto eveniet natus aliquid dolores.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos praesentium iure at reiciendis temporibus? Suscipit architecto eveniet natus aliquid dolores.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos praesentium iure at reiciendis temporibus? Suscipit architecto eveniet natus aliquid dolores.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos praesentium iure at reiciendis temporibus? Suscipit architecto eveniet natus aliquid dolores.</li>
        </ol> 
    </div>
</section>
{% endblock content %}